<script type="text/x-handlebars">
  <div id="wrap">
    {{view BCAuto.TopbarView}}
    <div id="main" class="container">
      {{outlet}}
    </div>
    <div id="push"></div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="topbar">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Bridge City Automotive</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>{{#linkTo automobiles }}Autos{{/linkTo}}</li>
            <li>{{#linkTo applicants }}Applicants{{/linkTo}}</li>
            <li>{{#linkTo solicitations }}Credit Apps{{/linkTo}}</li>
            <li>{{#linkTo registrants }}(Registrants){{/linkTo}}</li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <p>Dashboard</p>
</script>

<script type="text/x-handlebars" data-template-name="automobiles">
  <div class="row">
    <div class="span3">
      <table class="list-table">
        <caption>{{caption}}</caption>
        <tbody>
          {{#each automobile in controller}}
            <tr>
              <td>{{#linkTo automobiles.detail automobile}}{{automobile.name}}{{/linkTo}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="automobiles/new">
  <form>
    <fieldset>
      <legend>Add an Automobile</legend>
      <div class="row">
        <div class="span3">
          <fieldset>
            <legend>Required</legend>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="status" placeholder="Status"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="stockNumber" placeholder="Stock Number"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="price" placeholder="Price"}}</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Brand</legend>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="year" placeholder="Year"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="make" placeholder="Make"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="model" placeholder="Model"}}</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Body</legend>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="style" placeholder="Style"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="doors" placeholder="Doors"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="color" placeholder="Color"}}</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Engine</legend>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="cylinders" placeholder="Cylinders"}}</div>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="displacement" placeholder="Displacement"}}</div>
            <div class="auto-form-row"><button class="btn btn-bca">Recent Engine</div>
            <div class="auto-form-row"><button class="btn btn-bca">Fully Serviced</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Mileage</legend>
            <div class="auto-form-row">{{view Ember.TextField valueBinding="mileage" placeholder="Mileage"}}</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Carfax</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Low miles</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Fully serviced</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Steering</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Tilt Steering</div>
            <div class="auto-form-row"><button class="btn btn-bca">Telescoping Steering</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Power Steering</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Accessories</legend>
            <div class="auto-form-row"><button class="btn btn-bca">Power Windows</div>
            <div class="auto-form-row"><button class="btn btn-bca">Power Locks</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Power Mirrors</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Heated Mirrors</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Brakes</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Power Brakes</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Antilock Brakes</div>
            <div class="auto-form-row"><button class="btn btn-bca">Recent Brakes</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Wheels</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Alloy Wheels</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Recent Tires</div>
            <div class="auto-form-row">&nbsp;</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Drivetrain</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Five Speed</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Automatic</div>
            <div class="auto-form-row"><button class="btn btn-bca">All-Wheel Drive</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Climate Control</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Air Conditioning</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Auto Climate Control</div>
            <div class="auto-form-row"><button class="btn btn-bca">Dual Zone</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Entertainment</legend>
            <div class="auto-form-row"><button class="btn btn-bca">AM/FM Radio</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">CD Player</div>
            <div class="auto-form-row"><button class="btn btn-bca">MP3 Player</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Television</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Interior</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Leather</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Heated Seats (Front)</div>
            <div class="auto-form-row"><button class="btn btn-bca">Heated Seats (Rear)</div>
            <div class="auto-form-row">&nbsp;</div>
          </fieldset>
        </div>
        <div class="span3">
          <fieldset>
            <legend>Exterior</legend>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Roof Rack</div>
            <div class="auto-form-row"><button class="btn btn-bca btn-success">Running Boards</div>
            <div class="auto-form-row"><button class="btn btn-bca">Tow Package</div>
            <div class="auto-form-row"><button class="btn btn-bca">Recent Paint</div>
          </fieldset>
        </div>
      </div>
    </fieldset>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="automobiles/detail">
  <p>Automobile #{{stockNumber}}</p>
</script>

<script type="text/x-handlebars" data-template-name="automobiles/edit">
  <p>Edit Automobile #{{stockNumber}}</p>
</script>

<script type="text/x-handlebars" data-template-name="solicitations">
  <div class="row">
    <div class="span3">
      <table class="list-table">
        <caption>Credit Apps</caption>
        <tbody>
          {{#each solicitation in model}}
            <tr>
              <td>{{#linkTo solicitations.detail solicitation}}{{solicitation.name}}{{/linkTo}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="solicitations/new">
  <p>Add an Solicitation</p>
</script>

<script type="text/x-handlebars" data-template-name="solicitations/detail">
  <p>Solicitation for {{loanAmount}}</p>
</script>

<script type="text/x-handlebars" data-template-name="solicitations/edit">
  <p>Edit Solicitation for {{loanAmount}}</p>
</script>

<script type="text/x-handlebars" data-template-name="registrants">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <button {{action "purgeExpired"}} class="btn btn-danger">Purge Expired</button>
      </div>
      <table class="full-table">
        <caption>Registrants</caption>
        <thead>
          <tr>
            <th>Email</th>
            <th>Code</th>
            <th>Expires at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each registrant in model}}
            <tr>
              <td>{{registrant.email}}</td>
              <td>{{registrant.id}}</td>
              <td>{{datetime registrant.expiresAt}}</td>
              <td class="table-buttons"><button {{action "removeRegistrant" registrant}} class="btn btn-danger">Delete</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="applicants">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <button id="edit_mode" class="btn btn-success" {{action "toggleMode"}}>Edit Mode</button>
        <button id="new_applicant" class="btn btn-info" {{action "newApplicant"}}>Add a Applicant</button>
      </div>
    </div>
    <div class="span3">
      <table class="list-table">
        <caption>Applicants</caption>
        <tbody>
          {{#each applicant in model}}
            <tr>
              <td>{{#linkTo applicants.detail applicant}}{{applicant.name}}{{/linkTo}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="applicants/new">
  <form>
    <fieldset>
      <legend>Add an Applicant</legend>
      <div>{{view Ember.TextField valueBinding="email" placeholder="Email address"}}</div>
      <div>{{view Ember.TextField valueBinding="nameFirst" placeholder="First name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameMiddle" placeholder="Middle name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameLast" placeholder="Last name"}}</div>
      <div><button class="btn btn-warning" {{action "createApplicant"}}>Save</button></div>
    </fieldset>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="applicants/detail">
  <fieldset>
    <legend>{{name}}</legend>
    <p>{{email}}</p>
    <p>{{logins.length}} logins</p>
  </fieldset>
</script>

<script type="text/x-handlebars" data-template-name="applicants/edit">
  <form>
    <fieldset>
      <legend>Edit {{name}}</legend>
      <div>{{view Ember.TextField valueBinding="email" placeholder="Email address"}}</div>
      <div>{{view Ember.TextField valueBinding="nameFirst" placeholder="First name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameMiddle" placeholder="Middle name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameLast" placeholder="Last name"}}</div>
      <div><button class="btn btn-warning" {{action "createApplicant"}}>Save Changes</button></div>
    </fieldset>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="profile">
  <p>Admin Profile</p>
</script>