<script type="text/x-handlebars">
  <div id="wrap">
    {{view BCAuto.TopbarView}}
    <div id="main" class="container">
      {{outlet}}
    </div>
    <div id="push"></div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="topbar">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Bridge City Automotive</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>{{#linkTo automobiles }}Autos{{/linkTo}}</li>
            <li>{{#linkTo registrants }}Registrants{{/linkTo}}</li>
            <li>{{#linkTo solicitations }}Credit Apps{{/linkTo}}</li>
            <li>{{#linkTo users }}Users{{/linkTo}}</li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <p>Dashboard</p>
</script>

<script type="text/x-handlebars" data-template-name="automobiles">
  <div class="row">
    <div class="span3">
      <table class="list-table">
        <caption>{{caption}}</caption>
        <tbody>
          {{#each automobile in controller}}
            <tr>
              <td>{{#linkTo automobiles.detail automobile}}{{automobile.name}}{{/linkTo}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="automobiles/new">
  <p>Add an Automobile</p>
</script>

<script type="text/x-handlebars" data-template-name="automobiles/detail">
  <p>Automobile #{{stockNumber}}</p>
</script>

<script type="text/x-handlebars" data-template-name="automobiles/edit">
  <p>Edit Automobile #{{stockNumber}}</p>
</script>

<script type="text/x-handlebars" data-template-name="solicitations">
  <div class="row">
    <div class="span3">
      <table class="list-table">
        <caption>Credit Apps</caption>
        <tbody>
          {{#each solicitation in model}}
            <tr>
              <td>{{#linkTo solicitations.detail solicitation}}{{solicitation.name}}{{/linkTo}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="solicitations/new">
  <p>Add an Solicitation</p>
</script>

<script type="text/x-handlebars" data-template-name="solicitations/detail">
  <p>Solicitation for {{loanAmount}}</p>
</script>

<script type="text/x-handlebars" data-template-name="solicitations/edit">
  <p>Edit Solicitation for {{loanAmount}}</p>
</script>

<script type="text/x-handlebars" data-template-name="registrants">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <button {{action "purgeExpired"}} class="btn btn-danger">Purge Expired</button>
      </div>
      <table class="full-table">
        <caption>Registrants</caption>
        <thead>
          <tr>
            <th>Email</th>
            <th>Code</th>
            <th>Expires at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each registrant in model}}
            <tr>
              <td>{{registrant.email}}</td>
              <td>{{registrant.id}}</td>
              <td>{{datetime registrant.expiresAt}}</td>
              <td class="table-buttons"><button {{action "removeRegistrant" registrant}} class="btn btn-danger">Delete</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="users">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <button id="edit_mode" class="btn btn-success" {{action "toggleMode"}}>Edit Mode</button>
        <button id="new_user" class="btn btn-info" {{action "newUser"}}>Add a User</button>
      </div>
    </div>
    <div class="span3">
      <table class="list-table">
        <caption>Users</caption>
        <tbody>
          {{#each user in model}}
            <tr>
              <td>{{#linkTo users.detail user}}{{user.name}}{{/linkTo}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="users/new">
  <form>
    <fieldset>
      <legend>Add a User</legend>
      <div>{{view Ember.TextField valueBinding="email" placeholder="Email address"}}</div>
      <div>{{view Ember.TextField valueBinding="nameFirst" placeholder="First name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameMiddle" placeholder="Middle name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameLast" placeholder="Last name"}}</div>
      <div><button class="btn btn-warning" {{action "createUser"}}>Save</button></div>
    </fieldset>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="users/detail">
  <fieldset>
    <legend>{{name}}</legend>
    <p>{{email}}</p>
    <p>{{logins.length}} logins</p>
  </fieldset>
</script>

<script type="text/x-handlebars" data-template-name="users/edit">
  <form>
    <fieldset>
      <legend>Edit {{name}}</legend>
      <div>{{view Ember.TextField valueBinding="email" placeholder="Email address"}}</div>
      <div>{{view Ember.TextField valueBinding="nameFirst" placeholder="First name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameMiddle" placeholder="Middle name"}}</div>
      <div>{{view Ember.TextField valueBinding="nameLast" placeholder="Last name"}}</div>
      <div><button class="btn btn-warning" {{action "createUser"}}>Save Changes</button></div>
    </fieldset>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="profile">
  <p>User Profile</p>
</script>