<div class="row">
  <div class="span3">
    <%= image_tag 'bridges.png', :class => 'logo' %>
  </div>
  <div class="span9" style="margin-top: 100px">
    <h2>
      Please reset your password
      <span class="pull-right">
        <button id="show_hide_passwords_btn" class="btn btn-warning" data-toggle="button">Show Passwords</button>
      </span>
    </h2>
  </div>
  <div class="span5">
    <form>
      <fieldset>
        <legend>Choose a new password</legend>
        <p>
          <input type="password" id="password" name="password" placeholder="New password">
        </p>
        <p>
          <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Confirm password">
        </p>
      </fieldset>
      <p>
        <input type="submit" value="Set password" class="btn btn-danger">
      </p>
    </form>
  </div>
  <div class="span4">
    <p>
      <div id="strength_0" class="progress progress-danger password-strength-meter">
        <div class="bar"></div>
      </div>
      <div id="strength_25" class="progress progress-danger password-strength-meter">
        <div class="bar" style="width: 25%"></div>
      </div>
      <div id="strength_50" class="progress progress-warning password-strength-meter">
        <div class="bar" style="width: 50%"></div>
      </div>
      <div id="strength_75" class="progress progress-info password-strength-meter">
        <div class="bar" style="width: 75%"></div>
      </div>
      <div id="strength_100" class="progress progress-success password-strength-meter">
        <div class="bar" style="width: 100%"></div>
      </div>
      <div id="time_to_crack">Time to crack: <strong id="crack_time_display">instant</strong></div>
    </p>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    "use strict";
  
    var password, password_confirmation, password_match,
      strength_0, strength_25, strength_50, strength_75, strength_100,
      crack_time_display, password_strength_meter, show_hide_passwords_btn,
      password_form, time_to_crack;
  
    password = $('#password');
    password_confirmation = $('#password_confirmation');
    password_match = $('#password_match');
    strength_0 = $('#strength_0');
    strength_25 = $('#strength_25');
    strength_50 = $('#strength_50');
    strength_75 = $('#strength_75');
    strength_100 = $('#strength_100');
    time_to_crack = $('#time_to_crack');
    crack_time_display = $('#crack_time_display');
    password_strength_meter = $('.password-strength-meter');
    show_hide_passwords_btn = $('#show_hide_passwords_btn');
    password_form = $('edit_user');
  
    show_hide_passwords_btn.on('click', function() {
      if ($(this).hasClass('active')) {
        password.attr('type','password');
        password_confirmation.attr('type','password');
        show_hide_passwords_btn.html("Show Passwords");
        show_hide_passwords_btn.removeClass('btn-success');
        show_hide_passwords_btn.addClass('btn-warning');
      
      } else {
        password.attr('type','text');
        password_confirmation.attr('type','text');
        show_hide_passwords_btn.html("Hide Passwords");
        show_hide_passwords_btn.removeClass('btn-warning');
        show_hide_passwords_btn.addClass('btn-success');
      }
    });
  
    $.getScript("/js/zxcvbn.js", function() {
      password.on('keyup', show_strength);
      password.on('blur', show_strength);
      strength_0.show();
      time_to_crack.show();
    });
  
    var show_strength = function(e) {
      var response;
    
      response = zxcvbn($(this).val());
    
      password_strength_meter.hide();
      crack_time_display.html(response.crack_time_display);
    
      switch (response.score) {
        case 1:
          strength_25.show();
          break;
        case 2:
          strength_50.show();
          break;
        case 3:
          strength_75.show();
          break;
        case 4:
          strength_100.show();
          break;
        default:
          strength_0.show();
      }
    
      show_match();
    };
  
    var show_match = function() {
      if (password.val() == password_confirmation.val()) {
        password_match.html('<span class="matched">matched!</span>');
      } else {
        password_match.html('<span class="unmatched">not matched!</span>');
      }
    };
  
    password_confirmation.on('keyup', show_match);
    password_confirmation.on('blur', show_match);
    
    var validate_password = function() {
      noty({text: "validating password", type: "information"});
      return false;
    };
    
    password_form.on('submit', validate_password);
  });
</script>
